{% extends "base.html" %} {% block body %}

<div class="pageus">
    <div class="center" id="pus">
        <!-- <img src="static/logo.png" class="center logo"></img> -->
        <div class="center logoMain"></div>
        <h4>Syrian Business Directory</h4>
        <p>دليل المحال و الورشات السورية. لقد تم انشاء هذا المحتوى بهدف جميع المعلومات العامه عن المحال الغذائيه والصناعية و الورشات السورية المتواجده في ايرلندا في جميع المناطق.
        <br><br>
        هذا الدليل سيتم استخدامه كمرجع للسوريين لمعرفه أماكن تواجد المحال السوريه في كافة قطاعاتها عند الحاجة إليها, و ذلك في ظل ازدياد اعداد السوريين في جميع المدن الأيرلنديه.
        <br><br>
        جميع هذه المعلومات التي يتم جمعها هي معلومات عامة سيتم مشاركتها بشكل عام لتكون دليل يساعد الأخرين على اكتشاف محلك.
        </p>
        <hr class="style-eight">
        <div class="profile_image">
        </div>
        <h1>Osama Abou Hajar</h1>
        <h2>Software Development Engineer</h2>

    </div>
</div>
{% endblock %}